@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }

body {
  @apply bg-zinc-950 text-white antialiased;
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }
